.login {
    color: white;
    background-image: radial-gradient(rgb(139, 139, 139) 1px, transparent 0);
    background-size: 40px 30px;
    height: 100vh;
}

.login h2 {
    margin-bottom: 20px;
}

.login label {
    display: block;
    margin-bottom: 5px;
}

.login input {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 1rem;
}

.login button {
    padding: 10px 20px;
    background-color: var(--color1);
    color: #000000;
    cursor: pointer;
    font-weight: 500;
    height: 100%;
}

.login button:hover {
    background-color: var(--color2);
}